*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.nave{
    width: 100%;
    background-color: #4f5867;
    padding: 25px;
}

.ti{
    size: 50px;
}

.red {
    color: red;
}
